div {
  border: 20px solid #000; /* this is short hand for setting 
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

#red{
 border-top-color: rgb(244, 66, 66);
}

#blue{
  border-top-color: rgb(12, 50, 242);
}

#orange{
  border-top-color:rgb(255, 157, 0);
}

#yellow {
  border-top-color:rgb(252, 248, 7);
}

#green{
  border-top-color:rgb(1, 196, 31);
}

#purple{
  border-top-color:rgb(60, 0, 150);
}

#violet{
   border-top-color:rgb(166, 2, 204);
}